@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 2.5rem;
}

.main {
  margin-bottom: 40px;
}

section {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}


.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-brand {
  color: #fff;
}

.navbar-menu {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar-menu a {
  padding : 10px 20px
}

.navbar-button {
  margin-left: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width : 836px) {
  #wallet-address{
    display: none;
  }
}

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.personal-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  background-color: #d8a4b0;
  text-align: center;
  padding: 5px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
  background-color: #d8a4b0;
  padding: 5px;
}

.app-content {
  padding-top: 60px;
  padding-bottom: 2.5rem;
}

.app-container {
  position: relative;
  min-height: 100vh;
}

.footer {
  padding: 30px 40px;
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 40px;
}

.popup-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  height: 100vh;
}

.popup {
  padding: 20px;
  background: white;
  position: relative;
  border-radius: 8px;
  margin: auto;
  width: 70%;
  z-index: 100;
}